.DisplayBoard {
    background-color: #ffffff;
    /* min-height: 40vh; */
    flex-grow: 1;
    /* flex-basis: 50%; */
    flex-direction: column;
    align-items: left;
    justify-content: left;
    /* font-size: calc(10px + 2vmin); */
    color: rgb(29, 27, 27);
  }
  
  .DB-Grid div.react-grid-Row div.react-grid-Cell{
    padding-left: 0px ;
    padding-right: 0px;
    text-align: center;
  }

  .DB-Grid div.react-grid-HeaderCell{
    padding-left: 0px ;
    padding-right: 0px;
    line-height: 0.6;
    text-align: center;
  }

  .TextArea{
    border: 1px solid rgba(136, 136, 136, 0.473);
  }

  .Heading{
    padding: 20px;
  }

  .Pdfdownload{
    margin: 20px;
    justify-content: right;
  }