body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    max-width: 100%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
  }
  
  body,
  html,
  .App,
  #root,
  .auth-wrapper {
    width: 100%;
    height: 100%;
  }
  
  .navbar-light {
    background-color: #ffffff;
  }
  
  .auth-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .auth-inner {
 
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 5px rgba(34, 35, 58, 0.2);
    box-shadow: 0px 0px 5px rgba(34, 35, 58, 0.2);
    padding: 25px 45px 15px 45px;
    border-radius: 15px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-align: left;
  }
  
  .auth-wrapper .form-control:focus {
    border-color: #167bff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .auth-wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .custom-control-label {
    font-weight: 400;
  }
  
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }
  
  .forgot-password a {
    color: #167bff;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  #wrap {
    position: relative;
    background: #eee;
  }
  
  #footer {
    position: absolute;
    bottom: 0px;
    height: 25px;
    background: #333;
    width: 100%;
  }
  
  .notfound {
    text-align: center;
    margin: 40px;
  
  }
  
  .paginationComponent {
    left: 48%;
    position: absolute;
  }
  
  .noresults {
    text-align: center;
    margin: 40px;
  }
  